body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #672280, #A626D3);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  width: 230px;
  height: 26.22px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
}

.logo-title p {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.logo-title img {
  width: 31.31px;
  height: 26.22px;
}

.course_ {
  width: 189px;
  height: 14px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  margin-right: 40px;
}